@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }



___________________________________________________________________
.div-app{
  max-width: 40px;
  margin: 0 auto;
  background-color: blueviolet;

}

.grid-layout-container {
  width: 1150px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 20px;
}

.grid-layout-item {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.selectore{
  width: 50px;
}


@media screen and (min-width: 768px) {

  .grid-layout-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
  }

  .grid-layout-item {
    margin: 20px;
  }


  


}

  .day-card-selectors{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    justify-items: space-between;
    grid-row-gap: 20px;
  }

  .day-card-category-selector1{
    grid-area: 1 / 1 / 2 / 3;
  }

  .day-card-category-selector2{
    grid-area: 1 / 3 / 2 / 5;
  }

  .day-card-plat-selector1{
    grid-area: 2 / 1 / 3 / 3;
  }

  .day-card-plat-selector2{
    grid-area: 2 / 3 / 3 / 5;
  }

  .day-card-textinput1{
    grid-area: 3 / 1 / 4 / 3;
  }

  .day-card-textinput2{
    grid-area: 3 / 3 / 4 / 5;
  }



  .flex-layout-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .flex-layout-item {
    width: 100%;
    margin: 12px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }

  .content-table{
    border-collapse: collapse;
    margin: 35px;
    font-size: 0.9em;
    min-width: 430px;
  }

  .content-table thead tr{
    background-color: rgba(140, 138, 138, 0.174);
    text-align: left;
  }

  .content-table th,
  .content-table td {
    padding: 10px 15px;
  }

  .content-table tbody tr {
    border-bottom: 0.6px solid grey;
  }

  .content-table tbody tr:last-of-type{
    border: none
  }

  #login-btn{
    margin-left: 10px;
  }

  #login-btn:hover{
    color: white;
    transition: 0.3s;
  }

